<html>
	<head>
		<title>Blog App</title>
	</head>
	<body>
		<div class = "ui fixed inverted menu">
			<div class = "ui container">
				<div class ="header iterm"><i class="code icon"></i>Blog Site</div>
					<a href = "/" class = "iterm">Home</a>
					<a href = "/blogs/new" class="item">New Posts</a>
			</div>
		</div>